################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SymlinkCallback/x64/Debug
/.vs/SymlinkCallback/v16
/x64/Debug
*.user
